/*reset*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
}
ul,
ol menu{
    list-style: none;
}

/*layout*/

.container{
    width: 900px;
    border: 2px solid black;
    padding: 20px;
}

