/*reset*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

img{
    max-width: 100%;
}
ul,
ol menu{
    list-style: none;
}

/*layout*/

.container{
    max-width: 900px;
    margin: 0 auto;
}
.row{
    display:flex;
    flex-wrap: wrap;
}
.col-25{
    width: 25%;
}
.col-50{
    width: 50%;
}

/*debug*/

.debug .container{
    border: 2px solid black;
    padding: 20px;
}

.debug .row{
    border: 2px dotted red;
    padding: 20px;
}

.debug [class^='col']{
    border: 2px solid green;
    padding: 20px;
    min-height: 100px;
}

